// Variables

$font: 1rem;
$pdd-gap: 0.75rem;
$dropdown-height: 150px;
$scroll-width: 5px;
$full-screen: 100vh;
$radius: .25rem;
$shadow: 0 3px 6px rgba($color-02, .16);
$zi-5: 5;
$zi-10: 10;
$zi-15: 15;
$zi-top: 9999;
