<section class="search-city column is-8">
  <div class="column is-4 is-offset-8">
    <uiSelect :options="cityPlace" :model="searching" :isLoading="isLoading" @onInput="commitCityName" @onSelect="saveSelectedCity"></uiSelect>
  </div>
  <ul>
    <li v-for="city in cities">
      <div class="flex">
        <span class="name">
          {{city.key}},
        </span>
        <span class="country">
         {{city.value}}
        </span>
      </div>
    </li>
  </ul>
  <button @click="requestGeoNames">Click City</button>
</section>
